<!-- Notícias -->

	<div data-role="page" id="noticias" data-theme="b">
	
		<%= render 'layouts/header' %>
		
		<div data-role="content">
		
		
		
<ul data-role="listview" id="news" data-theme="d" >	<!-- data-inset="true" -->
	<% @rss.items.each do |i| %>
	<li>
		<div class="titdata"><%= i.description %></div>
		<%= link_to i.title, i.link, :target=>"_blank", :style => "white-space:normal;" %>
	</li>
	<% end %>
</ul>




		</div> <!--/content -->
		
		<%= render 'layouts/footer' %>
		
	</div><!-- /page -->
	
	
	
	
	
<!-- Twitter -->
<div data-role="page" id="twitter" data-theme="b">
	
		<%= render 'layouts/header' %>
		
		<div data-role="content">
		
		
		
<ul data-role="listview" id="posts" data-theme="d" >
	<% @resp.each do |r| %>
		<li><%= r.text %></li>
	<% end %>
</ul>





		</div> <!--/content -->
		
		<%= render 'layouts/footer' %>
		
</div><!-- /page -->
	
	
	
	
	
	