<!-- Notícias -->

	<div data-role="page" id="noticias" data-theme="b">
	
		<!-- <%= render 'layouts/header' %> -->

		
<div data-role="header" id="header" data-backbtn="false">
	<h1>Notícias</h1>
	<a href="javascript:location.reload(true)"  id="btnAtualizar" data-icon="refresh" class="ui-btn-right">Atualizar</a>
</div><!-- /header -->
<%= render 'layouts/header' %>
		
		
		<div data-role="content">
		
		
		
<ul data-role="listview" id="news" data-theme="d" >	<!-- data-inset="true" -->
	<% @rss.items.each do |i| %>
	<li>
		<div class="titdata"><%= i.description %></div>
		<div class="titnoticia" ><%= i.title %></div>
		<%= link_to "", i.link, :target=>"_blank", :style=>"display:none;" %>
		<%= link_to "Leia +", i.link, :target=>"_blank", :"data-icon"=>"add" %>
	</li>
	<% end %>
</ul>




		</div> <!--/content -->
		
		<%= render 'layouts/footer' %>
		
	</div><!-- /page -->
	
	
	
	
	
<!-- Twitter -->
<div data-role="page" id="twitter" data-theme="b">
	
		<!-- <%= render 'layouts/header' %> -->
		
		
<div data-role="header" id="header" data-backbtn="false">
	<h1>Twitter</h1>
	<a href="javascript:location.reload(true)"  id="btnAtualizar" data-icon="refresh" class="ui-btn-right">Atualizar</a>
</div><!-- /header -->
<%= render 'layouts/header' %>
		
		
		
		
		<div data-role="content">
		
		
		
<ul data-role="listview" id="posts" data-theme="d" >
	<% @resp.each do |r| %>
		<li data-icon=false>
			<div class="titpost"><%= r.text %></div>
			<%= link_to "", "", :style=>"display:none;" %>
		</li>
	<% end %>
</ul>





		</div> <!--/content -->
		
		<%= render 'layouts/footer' %>
		
</div><!-- /page -->
	
	
	
	
	
	