<!DOCTYPE html>
<html>
<head>
  <title>VNews</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.css" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div data-role="page" id="rss" data-theme="b">
	
		<%= render 'layouts/header' %>

		<div data-role="content">
		
			<%= yield %>

		</div> <!--/content -->
		
		<%= render 'layouts/footer' %>

	</div><!-- /page -->
</body>
</html>
