<!DOCTYPE html>
<html>
<head>
  <title>VNews - O Seu Jornal Eletrônico</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.css" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div data-role="page" id="rss" data-theme="b">
	
		<div data-role="header" data-backbtn="false">
			<h1>VNews</h1>
			<a href="javascript:location.reload(true)"  id="btnAtualizar" data-icon="refresh" class="ui-btn-right">Atualizar</a>
		</div><!-- /header -->

		<div data-role="content">
		
			<%= yield %>

		</div> <!--/content -->
		
		<div data-role="footer" data-theme="a" data-id="rodape" data-position="fixed" class="ui-btn-active ui-state-persist">
			<div data-role="navbar" >
				<ul>
					<!-- class="ui-btn-active" -->
					<li><a href="<%= root_path %>"  data-icon="info" data-direction="reverse">Notícias</a></li>
					<li><a href="<%= posts_path %>" data-icon="star">Twitter</a></li>
					<!-- @sitevnews -->
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->

	</div><!-- /page -->
</body>
</html>
