<!DOCTYPE html>
<html>
<head>
  <title>VNews</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.css" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
	<script type="text/javascript">
		$(document).ready(function() {


		
		});
		
		$(function(){
			// SWIPE LEFT EVENT
			// Triggers when a swipe event occurred moving in the left direction.
			$("#noticias").bind('swipeleft',function(event, ui){
				$.mobile.changePage("#twitter", "slide", false, true);
			})
			
			// SWIPE RIGHT EVENT
			// Triggers when a swipe event occurred moving in the right direction.
			$("#twitter").bind('swiperight',function(event, ui){
				$.mobile.changePage("#noticias", "slide", true, true);
			})

		})
	</script>
</head>
<body>
	<%= yield %>
</body>
</html>
